<ion-content>

  <ion-row>
    <ion-col>{{walletObject.symbol}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>Quantidade comprada:<p>&nbsp;</p>
        <ion-input [(ngModel)]="this.quantidadeComprada" value="{{this.quantidadeComprada}}"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="this.atualizarAcao()">
        <!-- <ion-button expand="block" (click)="this.atualizarAcao(this.quantidadeComprada)"> -->
        Atualizar
        <!-- wallet)
  onclick="global.updateWallet(walletObject)">
    Atualizar -->
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="this.apagarAcao()">
        Excluir
      </ion-button>
    </ion-col>
  </ion-row>


  <!-- <ion-input [(ngModel)]="this.quantidadeComprada" value=""></ion-input> -->