<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button routerLink="/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/receitas">
      <ion-icon name="trending-up-outline"></ion-icon>
      <ion-label>Receita</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/despesas">
      <ion-icon name="trending-down-outline"></ion-icon>
      <ion-label>Despesa</ion-label>
    </ion-tab-button>


    <ion-tab-button routerLink="/carteira-acoes">
      <ion-icon name="logo-usd"></ion-icon>
      <ion-label>Investimentos</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/extrato-geral">
      <ion-icon name="logo-usd"></ion-icon>
      <ion-label>Extrato</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/categoria">
      <ion-icon name="browsers-outline"></ion-icon>
      <ion-label>Categoria</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>