<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard">
      <ion-icon name="trending-up-outline"></ion-icon>
      <ion-label>Receita</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard">
      <ion-icon name="trending-down-outline"></ion-icon>
      <ion-label>Despesa</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="investimentos">
      <ion-icon name="logo-usd"></ion-icon>
      <ion-label>Investimentos</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
