

<ion-content>


  <ion-header>
    <ion-toolbar>
      <ion-title>Extrato</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>

    <ion-card-content>
    
      <ion-text class="ion-padding ion-text-center">
        <h1>R$ {{saldo}}</h1>
      </ion-text>
    </ion-card-content>

    <ion-list class="ion-padding ion-content-space">

      

      <ion-item *ngFor="let transaction of extratoGeral">

        <ion-label>
          {{transaction.description}}
        </ion-label>

        <ion-label class="value" [ngClass]="{entrada: transaction.type}">
          R$ {{transaction.value}}
        </ion-label>

      </ion-item>

    </ion-list>

  </ion-card>

  <app-menu-principal></app-menu-principal>
</ion-content>