<ion-header [translucent]="true">

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Despesas</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card color="light">
          <ion-card-header>
            <ion-card-title>Nova Despesa</ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <ion-item color="light">
              <ion-label position="floating">Despesa</ion-label>
              <ion-input type="text" [(ngModel)]="selectedValueDesp"></ion-input>
            </ion-item>

            <ion-item color="light">
              <ion-label position="floating">Valor</ion-label>
              <ion-input type="number" [(ngModel)]="selectedValue"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Tipo de despesa</ion-label>

              <ion-select interface="action-sheet" [(ngModel)]="selectedValueDespDesc">
                <ion-select-option value="fix">Fixa</ion-select-option>
                <ion-select-option value="var">Variável</ion-select-option>

              </ion-select>


            </ion-item>

            <div margin-vertical text-right>
              <ion-button (click)="BotaoAdd()" size="medium" fill="solid">
                Add
              </ion-button>

              <ion-button (click)="BotaoCancel()" size="medium" fill="outline" color="danger">
                <ion-icon slot="start" name="close"> </ion-icon>
                Cancel
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>Contas fixas</ion-label>
    </ion-item-divider>

    <ion-list>
      <ion-item *ngFor="let transaction of transactionsFix">
        <ion-label>
          <h1>{{transaction.typeDesp}}</h1>
          <h2>{{transaction.amount | currency}}</h2>
          <p>{{transaction.date | date:'short'}}</p>
        </ion-label>
      </ion-item>
    </ion-list>



    <ion-item-divider>
      <ion-label>Contas variáveis</ion-label>
    </ion-item-divider>

    <ion-list>
      <ion-item *ngFor="let transaction of transactionsVar">
        <ion-label>
          <h1>{{transaction.typeDesp}}</h1>
          <h2>{{transaction.amount | currency}}</h2>
          <p>{{transaction.date | date:'short'}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-item-group>
</ion-content>

<app-menu-principal></app-menu-principal>