<ion-header>
  <ion-toolbar>
    <ion-searchbar placeholder="Procurar ação" debounce="500" (ionChange)="_ionChange($event)"></ion-searchbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/carteira-acoes">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="selectedValue && ativo" >
    <ion-card id="addAcao" class="addAcao">
      <ion-card-header>
        <ion-card-title>{{selectedValue.cd_acao}} - {{selectedValue.nm_empresa}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p></p>
          <ion-item>Quantidade comprada:<p>&nbsp;</p>
            <ion-input id="quantidadeComprada" [(ngModel)]="this.quantidadeComprada" value=""></ion-input>
            <ion-button (click)="addAcoesNovo(selectedValue)" routerLink="/carteira-acoes">Adicionar</ion-button>
          </ion-item>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="ativo" >
    <ion-list   *ngFor="let acao of this.searchedItem">
      <ion-item (click)="selectAction(acao)" for="quantidadeComprada">
        {{acao.cd_acao+", "+acao.nm_empresa}}
      </ion-item>
    </ion-list>
  </div>
</ion-content>
